.contactSection {
  padding: 5rem 0;
  &--page {
    padding: 0;
    min-height: 100vh;
    padding-bottom: 5rem;
  }

  &__social {
    display: flex;
    justify-content: center;
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  &__group {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem;
    box-shadow: $box-shadow;
    margin: 2rem 0.5rem;
    @media only screen and (max-width: $breakpoint-mobile) {
      width: 100%;
      margin: 1rem 0.5rem;
      padding: 1rem;
    }
  }
  &__imgContainer {
  }
  &__img {
    width: 80px;
    margin-right: 1rem;
  }
  &__details {
    line-height: 1.5;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #01070e;
  }
  &__materializeIcon {
    color: #092b53;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      color: #1f64ad;
    }
  }
  &__icon {
    width: 30px;
    margin: 0 0.5rem;
  }
}
