.contactSection {
  padding: 5rem 0;
  margin: 5rem 0;
  &__container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  &__group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__imgContainer {
  }
  &__img {
    height: 75px;
    margin-right: 1rem;
  }
  &__details {
    line-height: 1.5;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #01070e;
  }
  &__materializeIcon {
    color: #092b53;
    margin-right: 10px;
  }
}
