.homepage {
  position: relative;
  background: #001433;
  background-image: linear-gradient(
      90deg,
      rgba(2, 7, 15, 0.97) 50%,
      rgb(2, 7, 15) 50%,
      rgba(246, 234, 46, 0.14) 50%,
      rgba(0, 0, 0, 0.62) 82%,
      #000 100%
    ),
    url(/img/erikBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  @media only screen and (max-width: $breakpoint-mobile) {
    background-image: url(/img/erikBackgroundMobile.jpg);
    background-position: center left;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35vh 0;
    &__title {
      font-size: 5.5rem;
      font-family: "Modak", cursive;
      color: orange;
      position: relative;
      top: 35%;
      @media only screen and (max-width: $breakpoint-mobile) {
        font-size: 4.5rem;
        font-family: "Modak", cursive;
        color: orange;
        position: relative;
        top: 39%;
        left: 5%;
        max-width: 200px;
      }
    }
  }
  .button {
    box-shadow: $box-shadow;
    margin-top: 2rem;

    &__link {
      transition: $transition;
      text-decoration: none;
      padding: 15px 50px;
      background: #fff;
      border: none;
      color: #36424b;
      font-weight: 300;
      font-size: 1.2rem;
      color: #0c2b51;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid #0c2b51;
      }
    }
  }

  .tour {
    position: absolute;
    left: 0;
    top: 43%;
    padding: 45px;
    box-shadow: 0px 1px 5px 2px rgba(255, 255, 255, 0.13),
      0 4px 18px 0 rgba(0, 0, 0, 0.19);
    @media only screen and (max-width: $breakpoint-mobile) {
      left: -19px;
      top: 53%;
    }

    &__title {
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      padding: 10px;
      background: #d9b778;
      font-size: 1.7rem;
      color: black;
      text-align: center;
    }
    &__group {
      margin-bottom: 1rem;
    }
    &__date {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    &__description {
      color: #d9d4d4;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
